# 应用配置
NODE_ENV=development
PORT=3000
LOG_LEVEL=info
API_PREFIX=api

# 数据库配置
DATABASE_URL=postgresql://postgres:password@localhost:5432/hono_db

# JWT 配置
JWT_SECRET=A7SJKNEOMAWN2EDJ8JDSN2SK59KS8SJEL0KS8AJNN2


# 安全配置
CORS_ORIGIN=*
RATE_LIMIT_MAX=100